{% extends 'base.html' %}

{% block title %}All Teams{% endblock %}

{% block content %}
<div class="main-container centered-container">
    <div class="box">
        <h2>All Teams</h2>
    </div>

    <div class="two-column-layout">
        <div class="left-column">
            <div class="box">
                <h3>Create a New Team</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Create Team</button>
                </form>
            </div>
        </div>

        <div class="right-column">
            <div class="box">
                <h3>Existing Teams</h3>
                <ul class="no-bullets">
                    {% for team in teams %}
                    <li>{{ team.owner.username }}: {{ team.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
