{% extends 'base.html' %}

{% block title %}All Leagues{% endblock %}

{% block content %}
<div class="main-container centered-container">
    <div class="box">
        <h2>Leagues</h2>
    </div>

    <div class="box list-container">
        {% if leagues %}
        <ul>
            {% for league in leagues %}
            <li><a href="{% url 'league_detail' league.id %}">{{ league.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No leagues available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
