{% extends 'base.html' %}

{% block title %}League Detail{% endblock %}

{% block content %}
<div class="main-container centered-container">
    <div class="box">
        <h2>{{ league.name }}</h2>
        <div class="two-column-layout">
            <div class="left-column">
                <div class="box list-container">
                    <h3>Teams and Members</h3>
                    {% if teams %}
                    <ul>
                        {% for team in teams %}
                        <li>{{ team.owner.username }}: {{ team.name }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No teams in this league.</p>
                    {% endif %}
                </div>
            </div>
            <div class="right-column">
                <div class="box">
                    <h3>League Bracket</h3>
                    {% if bracket %}
                    <ul>
                        {% for match in bracket %}
                        <li>{{ match }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No bracket available for this league.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
